    body {
        font-size: 20px;
        font-family: sans-serif;
        color: #333;
    }
    
    header {
        font-size: 2rem;
        padding-left: 50px;
        max-width: 500px;
        margin: auto;
    }
    
    #count {
        font-size: 3rem;
        margin: auto;
    }
    
    #quiz {
        display: none;
        border-radius: 20px;
        max-width: 80%;
        margin: auto;
    }
    
    .question {
        padding: 10px;
        font-weight: 550;
        border-radius: 0px;
    }
    
    .answers {
        margin-bottom: 20px;
    }
    
    .answers label {
        display: block;
        background: rgb(255, 188, 188);
    }
    
    .submit {
        max-width: 300px;
        margin: auto;
        display: none;
    }
    
    #submit {
        font-family: sans-serif;
        font-size: 20px;
        background-color: rgb(182, 0, 0);
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: rgb(21, 255, 0);
    }
    
    #results {
        font-size: 50px;
        max-width: 500px;
        margin: auto;
    }